$font-dm-sans: 'DM Sans', sans-serif;

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-bold.ttf') format('truetype');
  font-display: swap;
}
