// screen sizes

$breakpoints-m: 320px;
$breakpoints-xxl: 1440px;

//colors

$accent: #A18A68;
$white:#FFFFFF;
$black: #000000;
$dark-gray:#707070;
$gray: #D8D8D8;
$light-gray: #EFEFEF;
$red: #D82700;

