// screen sizes

$breakpoints-s: 320px;
$breakpoints-m: 600px;
$breakpoints-l: 900px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1440px;

//colors

$accent: #a18a68;
$white: #ffffff;
$black: #000000;
$dark-gray: #707070;
$gray: #d8d8d8;
$light-gray: #efefef;
$red: #d82700;
