@use 'fonts' as *;
@use 'variables' as *;

// breakpoints
.container {
  width: 100%;
  max-width: 346px;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $breakpoints-m) {
    max-width: 696px;
    padding: 0 36px;
  }
  @media (min-width: $breakpoints-l) {
    max-width: 936px;
    padding: 0 36px;
  }
  @media (min-width: $breakpoints-xl) {
    max-width: 1200px;
    padding: 0 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

body {
  margin: 0;
}
